body {
    font-family: 'Tajawal', sans-serif;
    line-height: 1.5;
    color: #0B0B46;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 100px;
    background-color: #d5f7f3;
}


.img-responsive {
    max-width: 100%;
    height: auto;
}


.topnav {
    padding: 15px;
}

.topnav__logo {
    max-width: 300px;
    height: auto;
}

.topnav__email-link {
    float: right;
    padding: 25px 0;
    font-size: 1.5em;
    color: #c40000;
    text-decoration: none;
}


.img-section {
    margin: 50px 0;
}

.img-section--first {
    margin: 0;
}


.projects__title, .showreel__title {
    text-align: center;

    font-size: 2rem;
    text-transform: uppercase;
}

.projects__project{
    text-align: center;

}

.projects__image {
    padding: 10px;
    box-sizing: border-box;
}

.contact {
    text-align: center;
    font-size: 2.5rem;
    margin: 200px auto;
}

.contact__email-link {
    color: #c40000;
    text-decoration: none;
    max-width: 100%;
}

.back-to-projects {
    text-align: center;
}

@media (max-width:719px) {
    .contact {
        margin: 30px auto 70px;
        font-size: 1.5rem;
    }
}